button {
  font-size: xx-large;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

img{
  width: 100px;
  display: flex;
  margin: 0 auto;
}




.green{
  background-color: green;
}

.red{
  background-color: red;
}